body{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #03001C;
  margin-top: 10em;
}
.app{
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  height: 350px;
  width: 600px;
  border-radius: 15px;
  border: 1px solid rgba(43, 43, 43, 0.568);
  display: flex;
 
}
h1,h3{
  color: #B6EADA;
 
}
/* 301E67
5B8FB9 */
.img{
  background-image: url(./h.jpg);
 
}
img{
  width:300px;
  height: 340px;
  border-radius: 5px;
}
span{
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
}
.text{
  /* text-align:center; */
  justify-content: flex-end;
  align-items:  flex-end;
  display: flex;
  /* flex-direction: row; */
  margin-left: 45px;
  display: inline;
}
button{
  display: block;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  color: #301E67;
  font-weight: bold;
  font-size: x-small;

}
.btn{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 5px;

}
h3{
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  margin-bottom: 0;
  font-size: medium;
}
h6{
  color: red;
  display: block;
  margin-top: 0;

}
#result, #bmi{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
input{
  border: red 
}